li {
    display: inline;
    margin-right: 15px;
}
nav a {
    border: solid 2px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

h1{
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}
article{
    width: 70%;
    padding-left: 40px;
}
aside{
    float: right;
    width: 25%;
}
footer{
    margin-left: 40px;
}